.DS_Store
/build/
/quartus/db/
/quartus/incremental_db/
/quartus/output_files/
/quartus/simulation/
/quartus/c5_pin_model_dump.txt
/quartus/*.qws
/quartus/*.qdf
/quartus/*.qmsg
/quartus/*.smsg
/quartus/*.summary
/quartus/*.rpt
/quartus/*.srf
/quartus/*.jdi
/quartus/*.sld
/quartus/*.bak
*.vcd
*.fst
*.fst.hier
/runs/
/tt_submission/
/tt/
/src/user_config.json
/src/config_merged.json
/test/sim_build/
/test/results.xml
/test/gate_level_netlist.v
__pycache__/
.pytest_cache/
.venv/
