.DS_Store
/build/
/quartus/db/
/quartus/incremental_db/
/quartus/output_files/
/quartus/simulation/
/quartus/*.qws
/quartus/*.qdf
/quartus/*.qmsg
/quartus/*.smsg
/quartus/*.summary
/quartus/*.rpt
/quartus/*.srf
/quartus/*.jdi
/quartus/*.sld
/quartus/*.bak
*.vcd
*.fst
